extends ../layouts/default.pug

block main
    //- Section-10
    .section-10 
        img(src="/admin/assets/images/404.jpg", alt="" class="inner-image")
        h1(class="inner-title") Trang này không tồn tại...
        a(href=`/${pathAdmin}/dashboard`, class="inner-back") Trở về trang tổng quan
    //- End Section-10