extends ../layouts/default.pug

block main
    h2.box-title Thông tin cá nhân
    //- Section-8
    .section-8
        form#profile-change-password-form
            .inner-group 
                label(class="inner-label" for="password") Mật khẩu mới
                input(type="password" id="password" name="password")
            .inner-group 
                label(class="inner-label" for="confirmPassword") Nhập lại mật khẩu mới
                input(type="password" id="confirmPassword" name="confirmPassword")

            .inner-group.inner-button
                button Đổi mật khẩu
    //-End Section-8 