header.header
    .inner-logo
        a(href="#") 
            span 28
            span Admin
    .inner-wrap
        .inner-notify 
            img(src="assets/images/chuong.svg", alt="icon") 
            span 6
        .inner-account 
            .inner-avatar 
                img(src="assets/images/logo.svg", alt="logo")
            .inner-text-account 
                .inner-name Nguyen Van A
                .inner-role Admin 
        button.inner-button-menu 
           <i class="fa-solid fa-bars"></i> 